.text {
    font-size: 25px;
    color: #477bbf;
    text-shadow: 1px 1px #1c3257;
    font-weight: 500;
    background-image: url('https://res.cloudinary.com/dvk0p9wev/image/upload/v1633626808/abierto-volando-libros-antiguos_1232-2096_lyjbdl.jpg');
    object-fit: cover;
    background-repeat: no-repeat;
    height: 600px;
    width: max-content;
    padding: 200px;
    display: flex;
}
.form {
    margin-bottom: 50px;
    margin-top: 0px;
    padding: 0;
}