.signup-text {
    background: url('https://res.cloudinary.com/jerrick/image/upload/v1610450296/5ffd857883f7a1001c77a8bf.jpg') no-repeat center center; 
    background-size: cover;
    opacity: 0.8;
    border-radius: 8px;
    font-size: 25px;
    color: #250a0c;
    text-shadow: 2px 2px #F6F5F3;
    height: 20em;
    width: 20em;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px; 
}