
.fragment-content{
    font-size: 20px;
    background-color: rgba(77, 37, 0, 0.151);
    color: #F6F5F3;
    border: 12px solid #cb8f32;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 0.375rem;
}
.fragment-content-p{
    color: #F6F5F3;
    font-size: 17px;
    text-shadow: 2px 2px #250a0c;
    font-weight: 600;

}