.rating {
    font-size: 35px;
    color: #ffa807;
    animation: colorchange 3s infinite alternate;
    /* background: linear-gradient(to bottom, #74ABE2, #5563DE);
    border-radius: 1em; */
}
@keyframes colorchange {
  0% {
    color: #6e4616;
  }
  /* 33% {
    color: #ffc107;
  }
  66% {
    color: #ffc107;
  } */
  100% {
    color: #ffc107;
  }
}