footer {
    /* background-color: #cb8e32bd; */
    background-color: #e4a84e;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    margin: 0;    
}   



.footer-text{
    font-size: 22px;
    font-weight: 350;
    text-decoration-line: underline;
}