footer {
    background-color: #cb8f32;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    margin: 0;
}


h3{
    font-size: 15px;
    font-weight: 600;
}

.footer-text{
    font-size: 22px;
    font-weight: 350;
    text-decoration-line: underline;
}