body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #ecb24fab !important;

}

body {
    background: linear-gradient(180deg, #ecb24f, #6e4616);
    background-size: 400% 400%;

    -webkit-animation: gradientAnimate 15s ease infinite;
    -moz-animation: gradientAnimate 15s ease infinite;
    -o-animation: gradientAnimate 15s ease infinite;
    animation: gradientAnimate 15s ease infinite;
}

@-webkit-keyframes gradientAnimate {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes gradientAnimate {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-o-keyframes gradientAnimate {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes gradientAnimate {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
